@use "./variables" as *;

.body {
  text-align: center;
}

.h1 {
  font-family: $font-heading;
  margin-bottom: 30px;
  margin-top: 20px;
}

.language-selector {
  background-color:$color-green;
  border: 1px solid black;
  border-radius: 3px;
  height: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 40%;
  
  &__label {
    display: block;
    font-family: $font-heading;
    margin-bottom: 10px;
  }
  
  &__select {
    display: block;
    font-family: inherit;
    margin-left: auto;
    margin-right: auto;
  }
}

.word-input {
  background-color:$color-green;
  border: 1px solid black;
  border-radius: 3px;
  height: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 40%;

  &__label {
    display: block;
    font-family: $font-heading;
    margin-bottom: 10px;
  }

  &__input {
    font-family: inherit;
  }
}

.output {
  background-color:$color-green;
  border: 1px solid black;
  border-radius: 3px;
  height: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 40%;

  &__heading {
    font-family: $font-heading;
    margin-bottom: 10px;
  }

  &__p {
    background-color: white;
  }
}

.invalid-input-message {
  display: none;
}
